<{{tag}} class="{{class}}"> 
    {{#roundedimages}}
        {{>atoms-rounded-images}}
    {{/roundedimages}}
    <{{tag2}} class="{{class2}}">
    {{#fonttitle}}
        {{>atoms-font-title}}
    {{/fonttitle}}
    {{#font}}
        {{>atoms-font}}
    {{/font}}
    </{{tag2}}>
    {{#button}}
         {{>atoms-buttons-collect}}
    {{/button}}


</{{tag}}>