.main-button{
    border-radius: 5px;
    padding: 9px 20px;
    font-size: 20px;
    width: 200px;
    height:65px;
    display: inline-block;
    line-height: 1.4;
    vertical-align: middle;
    background-color: $primary-color;
    color: $background-color;
    text-transform: uppercase;

}
.secondary-button {
  border-radius: 3px;
  padding: 9px 20px;
  font-size: 16px;
  display: inline-block;
  line-height: 1.4;
  vertical-align: middle;
  color: #E8E8E8;
}