.nav-typo{
    font-family: $cinzel-font;
    font-weight: bolder;
    font-size: 1.250em;
    text-transform: uppercase;
    line-height: 1.4;

}

.title-typo {
  font-family: $cinzel-font;
  font-weight: bold;
  font-size: 1.500em;
  text-transform: uppercase;
  line-height: 1.4;

}

.MJ-button-typo {
  font-family: $lato-font;
  font-weight: bold;
  font-size: 1.250em;
  text-transform: uppercase;
  line-height: 1.4;

}

.category-typo {
  font-family: $lato-font;
  font-size: 1.250em;
  text-transform: uppercase;
  line-height: 1.4;

}

.teleport-button-typo {
  font-family: $lato-font;
  font-size: 1.250em;
  line-height: 1.4;

}

.PJ-button-typo {
  font-family: $lato-font;
  font-size: 1.250em;
  font-weight: 300;
  line-height: 1.4;

}

.collect-button-typo {
  font-family: $lato-font;
  font-size: 1.250em;
  text-transform: uppercase;
  line-height: 1.4;

}

.italic-little-typo{
  font-family: $lato-font;
  font-size: 1.250em;
  font-style: italic;
  line-height: 1.4;

}

.italic-big-typo {
  font-family: $lato-font;
  font-size: 1.500em;
  font-style: italic;
  line-height: 130%;

}

.text-typo{
    font-family: $lato-font;
    font-size: 1.000em;
    font-style: italic;
    line-height: 120%;

}
