
//-------------------------------------------
//COLORS
//-------------------------------------------
$primary-color: #E74054;
$secondary-color: #0B2545;
$third-color: #EAB8BD;
$background-color: #fff;

//-------------------------------------------
//TYPOS
//-------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative%7CLato');

$cinzel-font:'Cinzel Decorative', cursive;
$lato-font:'Lato',sans-serif;

